# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.zip
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.example
# IDE
.vscode/
.idea/
# pessoal
docs/
build_package/